.borderDiv {
    border: 2px solid #333;
    width: fit-content;
    padding: 50px;
    background-color: #CCCCCC;
    border-radius: 10px;
}

.btn {
    margin: 5px 10px 5px 0;
    -moz-box-shadow: 3px 4px 0px 0px #3f3c3cd7;
	-webkit-box-shadow: 3px 4px 0px 0px #3f3c3cd7;
	box-shadow: 3px 4px 0px 0px #3f3c3cd7;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #756f6f;
	display:inline;
	cursor:pointer;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}

.btn:active {
    position:relative;
	top:1px;
}

input {
    background-color:#FAFAFA;
   border:solid 2px #9C9C9C;
   font-size:13px;
   color:#1A1A1A;
   -moz-border-radius:7px;
   -webkit-border-radius:7px;
   border-radius:7px;
   padding:4px 10px 4px;
}
input:focus {
    outline: 0;
    border-radius: 7px;
    background-color: rgb(207, 204, 204);
}