.boxVisualization {
     position: relative; 
    color: aliceblue;
    background-color: #505160;
    height: auto;
    width: auto;
    padding: 50px;
    overflow-x: auto;
}

p{
    font-size: 17px;
    font-weight: 700;
}